@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
      color: white!important;
      background-color: #FFC8DD !important;
    }
.custom-placeholder::placeholder{
  font-weight: bold;
 

}

}

